h1{
  font-family:Verdana;
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  background-color: white;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #25a561;
}
h2{
  font-family:Verdana;
  font-size: 1.3em;
  text-align: center;
  letter-spacing: 1.1pt;
  color: black;
}
h3{
  font-family: Arial;
  font-size: 110%;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  margin-right: 25px;
  margin-left: 25px; 
  color: #25a561;
  border-top-width: 2px;
  border-top-color: #32686a;
  border-top-style: solid;
}
p{
  font-family: Verdana;
  font-size: 0.8em;
  text-indent: 3%;
  text-align: justify;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}
ul{
  font-family: Arial;
  font-size: 110%;
  font-style: italic;
  color: #25a561
}
body{
  background-color: #e6e6e6;
}